BOT_TOKEN=123456:YOUR_BOT_TOKEN
MONGO_URL=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=telegram_security
OWNER_ID=123456789
DEFAULT_MUTE_MINUTES=60
ALERT_CHAT_ID=
